body{
  padding:0;
  margin:0;
  background:url(website/monsoon.jpg);
  background-size:cover;
 }
.box{
 width:450px;
 background:rgba(0,0,0,0.4);
 padding:25px;
 text-align:center;
 margin:auto;
 margin-top:5%;
 color:white;
}
.box-img{
 border-radius:50%;
 width:200px;
 height:200px;
}
